[Unit]
Description=WebServer Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=admin
ExecStart=/usr/bin/sudo /usr/bin/dotnet run --project /var/aleksnweb/WebServer/WebServer.fsproj

[Install]
WantedBy=multi-user.target